/.idea
/docker/data
/node_modules
/public/coverage
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.php_cs.dist
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
